#mapDiv, #mapNav, #legendControls, #legendInfo{
	float: left;
}
#mapDiv{
	width: 800px;
}
#mapNav{
	width: 400px;
}
#legend{
	clear: both;
}
.actionList .zoomTo{
	display: none;
}
.actionList{
	font-family: Arial;
	font-size: x-small;
}