body{
	color: #4f4a4a;
	font-family: "Helvetica", sans-serif; 
    font-weight: 300;
    background: #FBFAF8;
    font-size: 10pt;
}
#pageWrap{
	width: 1080px;
	margin: 0 auto;
}
#grid{
	width: 960px;
}
#mapDiv, #mapNav, #legendControls, #legendInfo{
	float: left;
}
#HomeButton {
  position: absolute;
  top: 95px;
  left: 20px;
  z-index: 50;
}
#BasemapToggle {
  position: absolute;
  top: 20px;
  left: 610px;
  z-index: 50;
}
#mapDiv{
	width: 700px;
	position: relative;
}
#mapWrap{
	border: 2px solid #1A608D;
	border-radius: 4px;
	width: 960px;
}
#mapNav{
	width: 260px;
	clear: right;
}
#legend{
	clear: both;
}
#legendControls{
	margin-bottom: 20px;
}
#legendInfo{
	margin: 10px 10px 10px 20px;
	padding-left: 10px;
	border: 2px solid #1A608D;
	border-radius: 4px;
	width: 200px;
	height: 60px;
	display: none;
}
.actionList .zoomTo{
	display: none;
}
.esriPopupWrapper{
	font-family: Arial;
	font-size: x-small;
}
.clearfix{
  overflow: auto;
  zoom: 1;
}
.clearBoth{
	clear: both;
}
.bold{
	font-weight: bold;
}
.centerDiv{
	margin: 0 auto;
	text-align: center;
}
/*.minority1, .race1, .poverty1, .hispanic1, .income1, .minority3, .race3, .poverty3, .hispanic3, .income3, .buildLegend{
	display: inline-block;
	width: 150px;
}*/
.minority1Link, .race1Link, .poverty1Link, .hispanic1Link, .income1Link, .minority3Link, .race3Link, .poverty3Link, .hispanic3Link, .income3Link{
	margin-left: 3px;
	display: inline-block;
}

#demographicChart, .markerNum{
	display: none;
}

#demographicChart{
	height: 200px;
	width: 220px;
}

.buildLegend{
	text-align: left;
}
.boxColor1, .boxColor2, .boxColor3, .boxColor4, .boxColor5{
	width: 15px;
	height: 15px;
	border-radius: 4px;
	float: left;
	margin: 0px 5px 0px 25px;
}
.boxColor1{
	background-color: #000;
}
.boxColor2{
	background-color: #d7191c;
}
.boxColor3{
	background-color: #fdae61;
}
.boxColor4{
	background-color: #abdda4;
}
.boxColor5{
	background-color: #2b83ba;
}
ol li{
	font-weight: bold;
}

a{
	color: #2b83ba;
	text-decoration: none;
}

a:hover, a:focus{
	color: #1A608D;
}

.esriPopup .contentPane{
	max-height: 200px !important;
}

.k-tooltip { margin-left: -10px; }