#mapDiv, #mapNav, #legendControls, #legendInfo{
	float: left;
}
#mapDiv{
	width: 70%
}
#mapNav{
	width: 30%;
}
#legend{
	clear: both;
}
.actionList .zoomTo{
	display: none;
}
.esriPopupWrapper{
	font-family: Arial;
	font-size: x-small;
}
.clearBoth{
	clear: both;
}